<%- include("header")-%>

<h2>This is the about page </h2>

<p> this is someting that i wanted to learn so
    this is me that has nothing to say
    about this website
     or the server
     what is this
     i know this the server that is send
      the webpage
       which in turn result in website

</p>

<%- include("footer") -%>
